body{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #4ba5cc;
}
.inner_main_menu{
    margin: 0 auto;
    width: 1170px;
}
.inner_main_menu ul{
    margin: 0;
    padding: 30px 0 0;
    list-style: none;
    text-align: right;
}
.inner_main_menu ul li{
    float: none;
    display: inline-block;
}
.inner_main_menu ul li:nth-child(1){
    float: left;
}
.inner_main_menu ul li:nth-child(2){
    float: left;
}
.inner_main_menu ul li:nth-child(3){
    float: left;
}
.inner_main_menu ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}
.inner_main_menu ul li a:hover{
     background-color: white;
     color: #26a4c7;
     border-radius: 20px;
}
.main_menu{
    width: 100%;
    height: 120px;
    box-shadow: 0 5px 15px #0a569e;
    position: relative;
    background-color:#101010;
}
.logo{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -80px;
}
#unilogo{
    margin-top: 30px;
    border-radius: 50%; 
    border: 5px solid #0a569e ;
    width: 130px; 
    height:130px;
    transition: 1s;
}
#unilogo:hover{
    transform: scale(1.3);
}
/* About Section */
.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-area{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.text{
    text-transform: uppercase;
	font-size: 46px;
	color:rgb(255, 255, 255);
	font-family: sans-serif;
	text-shadow: 0px 15px 12px #000;
}
.line{
	width:200px;
	height: 8px;
	background-color: #232423;
	display: block;
	position: relative;
	border-radius: 5px;
	left:10%;
	box-shadow: 0px 5px 4px 3px #0a569e;
}
.content{
    border-radius: 20px;
    margin-top: -200px;
	width:100%;
	height:auto;
	background-color:#0a569e ;
	font-size: 23px;
	font-family: audiowide;
	color:rgb(247, 244, 244);
	line-height: 30px;
	text-align: center;
}
.heading{
    text-transform: uppercase;
    color: rgb(24, 23, 23);
    font-weight: bold;
    font-size: 36px;
}
footer{
    float: left;
    padding: 10px;
    margin-top: 50px;
    width:100%;
	height: auto;
	background-color: rgb(8, 7, 8);
	color:#0a569e;
	font-size: 16px;
	text-align: left;
	line-height: 30px;
}
span>ul{
    float: right;
}
span>ul a{
    padding: 0 10px;
    text-decoration: none;
    color:  #075196;
}

span>ul a:hover{
    background-color: #0a569e;
    color: aliceblue;
    border-radius: 20px;
}
/* Testimonial Section */
.testimonials{
    padding:40px 0;
    background:aliceblue;
    color: rgb(24, 23, 23) ;
    text-align: center;
}
.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
.border{
    width: 160px;
    height: 5px;
    background:#0a569e;
    margin: 26px auto;
}
.row{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}
.cols{
    flex: 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: row;
}
.testimonial{
    background:aliceblue;
    padding:30px;
}
.testimonial img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.stars{
    color: #6ab04c;
    margin-bottom: 20px;
}
/*University Pages */
.uniarea{
    height: auto;
    width: 100%;
}
.uninameandimg{
    height: 500px;
    width: 100%;
}
#uniname{ 
  position: absolute;
  margin-top: -99px;
  text-align: center;
  text-transform: uppercase;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;

}
.aboutuni{
    width: 100%;
    margin-top: 149px;
}
.abouthead{
    padding: 20px;
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
    color: whitesmoke;
}
.aboutdetails{
    margin: 20px;
    font-size: 18px;
    padding: 30px;
    font-family: sans-serif;
    background-color: white;
    border-radius: 15px;
}
.navigationofuni{
    margin-left: 20px;
    margin-right: 20px;
}
iframe{
    border: 3px solid orange;
    border-radius: 20px;
}
.sociallinks{
    font-family: serif;
}
.sociallinks>li{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 20px;
}
.sociallinks li a{
    color: dodgerblue;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}
.sociallinks li a:hover{
     color: black;
}     